body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed"
  }



.container {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid black;
}

.avatar-square {
    margin-left: 10px;
    height: 95%;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }

  .big-container {
    margin-top: 10px;
    height: 100vh;
    width: 90vw;
    background: #EBF4F3;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    background-color: white;
    margin: 20px;
}

.description{
    padding: 20px;
    text-align: center;
}

.container-page {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-card {
    display: flex;
}

.title {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.logo {
    height: 50px;
}
.nav-bar {
    background-color: rgb(25, 33, 41);
    padding: 5px;

}

.nav-bar-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }

.homepage-image-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
.title-position {
    display: flex;
    justify-content: center;
}

.nav-bar-position {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.nav-bar-style {
    color: white;
    text-decoration: none;
 
}

.nav-bar-style:hover {
    font-weight: bold;
    
    padding-bottom: 8px;


}

.purple-hover:hover {
    color:  #426BB5;

}

.green-hover:hover {
    color: #EBF4F3
}

.nav-bar-part-two {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-right: 40px;
}


.quentin-container {
    background: #426BB5;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
  }
.text-description {
    text-align: justify;
    text-justify: inter-word;
}

.image-paris {
    height: 400px;
    margin-top: 30px;
}